<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="initalFormGroup" >
      <form novalidate #initalForm = ngForm (ngSubmit)="onInitSubmit()" [formGroup]="initalFormGroup">
      <ng-template matStepLabel>{{initStepLabel}}</ng-template>

      <div class="container title">
        <div class="">
          <mat-form-field floatLabel="auto" >
            <!-- Title input field -->
            <mat-label>{{titleInputLabel}}</mat-label>
            <input matInput [formControl]="titleControl" maxlength="14" required>
            <mat-error *ngIf="titleControl.invalid ">{{getTitleErrroMessage()}}</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="container year-month">
        <div class="">
          <mat-form-field>
            <!-- Year Drop down -->
            <mat-select [placeholder]="yearLabel"
                        [formControl]="yearControl"
                        (selectionChange)="yearOrMonthSelect($event)"
                        [aria-label]="yearAriaLabel"
                        required>
              <mat-option *ngFor="let year of yearDropDown" [value]="year.value">
                {{year.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="yearControl.invalid">{{getYearErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div >
          <mat-form-field>
            <!-- Month Drop down -->
            <mat-select [placeholder]="monthLabel"
                        [formControl]="monthControl"
                        (selectionChange)="yearOrMonthSelect($event)"
                        [aria-label]="monthAriaLabel"
                        required>
              <mat-option *ngFor="let month of monthDropDown" [value]="month.value">
                {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="monthControl.invalid">{{getMonthErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Slider -->
      <div class="container slider-container">
        <div class="">
          <mat-slide-toggle labelPosition = 'before'
                            formControlName="saturdayToggle"
                            (change)="weekendSlideToggle($event)">
            {{saturdaysIncludedLabel}}
          </mat-slide-toggle>
        </div>
        <div class="">
          <mat-slide-toggle labelPosition = 'before'
                            formControlName="sundayToggle"
                            (change)="weekendSlideToggle($event)">
            {{sundaysIncludedLabel}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="container">
        <div class="">
          <mat-form-field>
            <!-- Holiday Drop down -->
            <mat-select [placeholder]="holidayLabel"
                        [formControl]="holidayControl"
                        multiple>
              <mat-select-trigger>
                {{holidayControl.value ? holidayControl.value[0] : ''}}
                <span *ngIf="holidayControl.value?.length > 1" >
                  (+{{holidayControl.value.length - 1}} more)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let holiday of holidaysDropDown" [value]="holiday.value">
                {{holiday.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="monthControl.invalid">{{getMonthErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="container session-participant">
        <div class="">
          <mat-form-field>
          <!-- Session number  Drop down -->
            <mat-select [placeholder]="totalSessionLabel"
                        [formControl]="totalSessionControl"
                        (selectionChange)="onSessionSelected($event)"
                        required>
                        <mat-option *ngFor="let participant of totalSessionDropDown" [value]="participant.value">
                          {{participant.name}}
                        </mat-option>
            </mat-select>
            <mat-error *ngIf="totalSessionControl.invalid">{{getSessionErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field>
            <!-- Participants number  Drop down -->
              <mat-select [placeholder]="totalParticipaLabel"
                          [formControl]="totalParticipantControl"
                          required>
                <mat-option *ngFor="let participant of totalParticipantDropDown" [value]="participant.value">
                  {{participant.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="totalParticipantControl.invalid">{{getParticipantErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
      </div>
      <div class="container stepper-contorl">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form novalidate (ngSubmit)="onSecondSubmit()" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{secondStepLabel}}</ng-template>
      <div *ngIf="isFirstStepperCompleted" class="container participants">
        <div *ngFor="let participant of totalParticipants">
          <mat-form-field floatLabel="auto" >

            <mat-label>{{participant.displayLabel}}</mat-label>
            <input matInput [formControlName]="participant.formControlName" maxlength="14" >
            <mat-error *ngIf="secondFormGroup.hasError('required',participant.formControlName )">{{getParticipantRequiredErrorMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('pattern',participant.formControlName )">{{getInvalidInputMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('minlength',participant.formControlName )">{{getParticipantLengthErrorMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('duplicates',participant.formControlName )">Duplicate  participant names</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('conflict',participant.formControlName )">Participant and Session names cannot be same</mat-error>

          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isFirstStepperCompleted" class="container sessions">
        <div *ngFor="let session of totalSessions">
          <mat-form-field floatLabel="auto" >
            <mat-label>{{session.displayLabel}}</mat-label>
            <input matInput [formControlName]="session.formControlName" maxlength="14" >
            <mat-error *ngIf="secondFormGroup.hasError('required',session.formControlName )">{{getSessionRequiredErrorMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('minlength',session.formControlName )">{{getSessionLengthErrorMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('pattern',session.formControlName )">{{getInvalidInputMessage()}}</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('duplicates',session.formControlName )">Duplicate  session names</mat-error>
            <mat-error *ngIf="secondFormGroup.hasError('conflict',session.formControlName )">Participant and Session names cannot be same</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="container stepper-contorl">
        <div class="">
            <button mat-raised-button color="primary" matStepperPrevious (click)="isFirstStepperCompleted = false">Back</button>
        </div>
        <div class="">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>

      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form novalidate (ngSubmit)="onFinalSubmit()" [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>{{finalStepLabel}}</ng-template>
      <div *ngIf="isSecondStepperCompleted" class="container leaves" >

       <div *ngFor="let participant of participantLeaveDynamicStepperBuilder" >
          <mat-card class = "leaveCard">
            <mat-card-header>
              <mat-card-title id="name">{{participant.participantName}}</mat-card-title>
              <!-- <mat-card-subtitle>Leave Dates</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
              <mat-select placeholder="Leave Dates" [formControlName] = "participant.leaveControlName" multiple>

                <mat-optgroup *ngFor="let group of participant.leaveDropDownGroup" [label]="group.date" >
                  <mat-option *ngFor="let sessions of group.sessions" [value]="sessions.value">
                    {{sessions.name}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="container stepper-contorl">
        <div class="">
            <button mat-raised-button color="primary" matStepperPrevious (click)="isSecondStepperCompleted = false">Back</button>
        </div>
        <div class="">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>

    </form>
  </mat-step>
</mat-horizontal-stepper>
