<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="initalFormGroup" label="ONE">
      <form novalidate #initalForm = ngForm (ngSubmit)="onSubmit(initalForm)" [formGroup]="initalFormGroup">
      <ng-template matStepLabel>{{initStepLabel}}</ng-template>
      <mat-form-field floatLabel="auto" >
        <!-- Title input field -->
        <mat-label>{{titleInputLabel}}</mat-label>
        <input matInput [formControl]="titleControl" maxlength="14" required>
        <mat-error *ngIf="titleControl.invalid ">{{getTitleErrroMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <!-- Year Drop down -->
        <mat-select [placeholder]="yearLabel"
                    [formControl]="yearControl"
                    (selectionChange)="yearOrMonthSelect($event.value)"
                    [aria-label]="yearAriaLabel"
                    required>
          <mat-option *ngFor="let year of yearDropDown" [value]="year.value">
            {{year.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="yearControl.invalid">{{getYearErrorMessage()}}</mat-error>
      </mat-form-field>  
      <mat-form-field>
        <!-- Month Drop down -->
        <mat-select [placeholder]="monthLabel"
                    [formControl]="monthControl"
                    (selectionChange)="yearOrMonthSelect($event.value)"
                    [aria-label]="monthAriaLabel"
                    required>
          <mat-option *ngFor="let month of monthDropDown" [value]="month.value">
            {{month.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="monthControl.invalid">{{getMonthErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- Slider -->
      <div>
        <mat-slide-toggle labelPosition = 'before'
                          formControlName="saturdayToggle"
                          (change)="weekendSlideToggle($event)">
          {{saturdaysIncludedLabel}}
        </mat-slide-toggle>
        <mat-slide-toggle labelPosition = 'before'
                          formControlName="sundayToggle"
                          (change)="weekendSlideToggle($event)">
          {{sundaysIncludedLabel}}
        </mat-slide-toggle>
      </div>

      <mat-form-field>

        <!-- Holiday Drop down -->
        <mat-select [placeholder]="holidayLabel"
                    [formControl]="holidayControl"
                    multiple>
          <mat-select-trigger>
            {{holidayControl.value ? holidayControl.value[0] : ''}}
            <span *ngIf="holidayControl.value?.length > 1" class="example-additional-selection">
              (+{{holidayControl.value.length - 1}} more)
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let holiday of holidaysDropDown" [value]="holiday.value">
            {{holiday.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="monthControl.invalid">{{getMonthErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <!-- Participants number  Drop down -->
        <mat-select [placeholder]="totalParticipaLabel"
                      [formControl]="totalParticipantControl"
                      required>
          <mat-option *ngFor="let participant of totalParticipantDropDown" [value]="participant.value">
            {{participant.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="totalParticipantControl.invalid">{{getParticipantErrorMessage()}}</mat-error>

        <!-- Session number  Drop down -->
        <mat-select [placeholder]="totalSessionLabel"
                    [formControl]="totalSessionControl"
                    required>
          <mat-option *ngFor="let session of totalSessionDropDown" [value]="session.value">
            {{session.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="totalSessionControl.invalid">{{getSessionErrorMessage()}}</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
