.container {
  display: flex;
}

.register-component {

   min-width:  400px;
}

.raised-box {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.center-box {
  display: flex
}

.raised-box:before, .raised-box:after
{
    /* content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px; */
}
.raised-box:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.input-conatiner {

    text-align: center;
    width: 300px;

}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.form-wrapper > div{

  margin: 20px;

}
.center-box {
  justify-content: center;
  align-items: center;
  width: 100%;
}
