<div class="login-component-container raised-box">
  <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile>
      <form class="form-wrapper" (ngSubmit)="onSubmit()" novalidate [formGroup]="resetPasswordFormGroup">
        <div class="input container">
          <div class="">
            <mat-form-field floatLabel="auto" >
              <mat-label>{{emailIdLabel}}</mat-label>
              <input matInput formControlName="emailIdControl" required>
              <mat-hint align="end">{{emailHint}}</mat-hint>
              <mat-error *ngIf="resetPasswordFormGroup.invalid ">{{getEmailError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="" id="button_wrapper">
            <button mat-raised-button color="primary" type="submit" [disabled] = "isContinueClicked">
              {{continueButtonLabel}}
            </button>
          </div>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>

</div>
