.login-component-container {
   max-height: 400px;
   min-width:  400px;
}

.raised-box {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.raised-box:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.form-wrapper {

    text-align: center;
    width: 95%;

}

.container {
  display: flex;
}

.input {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input > div {
  width: 100%;
}
