<div class="login-component-container raised-box">
  <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile>
      <form class="input-conatiner" (ngSubmit)="onSubmit()" name="flagForm" novalidate>
        <p>
          <mat-form-field [floatLabel]="options.value.floatLabel" >
            <mat-label>{{usernameInputLabel}}</mat-label>
            <input matInput [formControl]="emailControl" required>
            <mat-error *ngIf="emailControl.invalid ">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput [formControl]="passwordControl" placeholder={{passwordInputLabel}} [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwordControl.invalid ">{{getPswrdErrorMessage()}}</mat-error>
          </mat-form-field>
        </p>
        <p style="text-align:center">
          <button mat-raised-button color="primary"
                      [disabled]="(emailControl.invalid || passwordControl.invalid) ">
            {{loginButton}}
          </button>
          <br><br><br>
          <mat-error *ngIf="isWrongCredentials">{{getAuthErrorMessage()}}</mat-error>
        </p>
      </form>

    </mat-grid-tile>
  </mat-grid-list>

</div>
