.login-component-container {
   max-height: 400px;
   min-width:  400px;
}

.raised-box {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.raised-box:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.input-conatiner {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
