@import url('https://fonts.googleapis.com/css?family=Nunito:600i|Open+Sans');

/* All container will be flex box conatiner */
.container {
  display: flex;
}

.main {

  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('/assets/img/background/bg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.center {

  height: inherit;
  width: inherit;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.center > div {
  
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.divide-by-half {


}

.grid-container > div {
  width: 100%;
  height: inherit;
}

.desc-heading {

  font-family: 'Nunito', sans-serif;
  text-align: center;

}

.desc-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.home-desc-conatiner {
  padding:20px
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
