@import url('https://fonts.googleapis.com/css?family=Nunito:600i|Open+Sans');

mat-grid-tile {
  /* background: #515F79; */
}

.grid-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('assets/img/background/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container > div {
  width: 100%;

}

.desc-heading {

  font-family: 'Nunito', sans-serif;
  text-align: center;

}

.desc-text {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.home-desc-conatiner {
  padding:20px
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
