<div class="container main">
  <div class="container center">
    <div [ngStyle]="divideBoxStyle()" class="container description" >
      <div class="home-desc-conatiner">
        <h1 class = "desc-heading">
          {{homeDescHeader}}
        </h1>
        <p class = "desc-text" >
          {{homeDescText}}
        </p>
        <div class="button-row">
          <div class="">
            <button mat-raised-button color="primary"
                    (click)="onStateChanged()">
              {{buttonName}}
            </button>
          </div>
          <div class="">
            <button mat-raised-button color="primary"
                    (click)="onContinue()">
              {{continueButton}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div [ngStyle]="divideBoxStyle()" class="container box-container" >
      <router-outlet></router-outlet>
    </div>

    <!-- <mat-grid-list
          [cols]="breakpoint"
          [gutterSize] = "isGutterRequired ? '10em' : '0em'"
          (window:resize)="onResize($event)">
      <mat-grid-tile >
        <div class="home-desc-conatiner">
          <h1 class = "desc-heading">
            {{homeDescHeader}}
          </h1>
          <p class = "desc-text" >
            {{homeDescText}}
          </p>
          <div class="button-row">
            <div class="">
              <button mat-raised-button color="primary"
                      (click)="onStateChanged()">
                {{buttonName}}
              </button>
            </div>
            <div class="">
              <button mat-raised-button color="primary"
                      (click)="onContinue()">
                {{continueButton}}
              </button>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile id = "login-register-component">
        <router-outlet></router-outlet>
      </mat-grid-tile>
    </mat-grid-list> -->




  </div>
</div>
