<div class="login-component-container raised-box">
  <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile>
      <form class="form-wrapper" (ngSubmit)="onSubmit()" novalidate [formGroup]="resetPasswordFormGroup">
        <div class="input container">
          <div class="">
            <mat-form-field floatLabel="auto" >
              <input matInput placeholder={{newPasswordLabel}} [type]="passwordHide ? 'password' : 'text'" formControlName="newPasswordControl">
              <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint align="end">{{passwordHint}}</mat-hint>
              <mat-error *ngIf="resetPasswordFormGroup.invalid ">{{getNewPasswordError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field floatLabel="auto" >
              <input matInput placeholder={{confirmPasswordLabel}} [type]="passwordHide ? 'password' : 'text'" formControlName="confirmPasswordControl">
              <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="resetPasswordFormGroup.invalid ">{{getConfirmPasswordError()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="" id="button_wrapper">
            <button mat-raised-button color="primary" type="submit">
              {{changePasswordButtonLabel}}
            </button>
          </div>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
