@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.github-icon {
  padding: 0 14px;
}

.content-spacer {
  flex: 1 1 auto;
}

.header-text {
  font-family: Cardo;

}

#site_name {
  font-size: 1.4em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.content-text{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
